body {
  background: #181820;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  width: 100%;
  overflow-x: hidden;
  color: white; }

.container {
  max-width: 1280px; }

.navbar {
  padding: 40px 0px;
  align-items: center !important; }
  .navbar a {
    text-decoration: none;
    color: white; }
  .navbar .nav-left-menu {
    display: flex; }
    .navbar .nav-left-menu .features {
      margin-left: 40px;
      padding: 16px;
      font-size: 16px;
      border-bottom: 2px solid #181820; }
      .navbar .nav-left-menu .features:hover {
        border-color: #FB6DA9; }
  .navbar .nav-right-menu .sign-in {
    padding: 16px;
    border-bottom: 2px solid #181820; }
    .navbar .nav-right-menu .sign-in:hover {
      border-color: #FB6DA9; }
  .navbar .nav-right-menu .sign-up, .navbar .nav-right-menu .logout {
    padding: 12px 24px;
    margin-left: 20px;
    border-radius: 12px;
    border: 3px solid #2E2E3B; }
    .navbar .nav-right-menu .sign-up:hover, .navbar .nav-right-menu .logout:hover {
      border-color: #FB6DA9;
      transition-duration: .2s; }

.middle-part {
  height: 100vh;
  background: url("/static/images/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10; }
  .middle-part .body-content {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .middle-part .body-content h1 {
      font-size: 48px;
      font-weight: 700;
      font-family: 'Inter', sans-serif; }
    .middle-part .body-content p {
      padding: 0 50px;
      margin-top: 20px;
      color: #C3C3D9;
      font-family: 'Inter', sans-serif; }
    .middle-part .body-content .body-content-button-wrapper {
      padding-top: 30px; }
      .middle-part .body-content .body-content-button-wrapper .get-started-btn, .middle-part .body-content .body-content-button-wrapper .dashboard-btn {
        padding: 16px 32px;
        background: #F48CC0;
        text-decoration: none;
        color: #fff;
        margin: 0 12px;
        border-radius: 12px; }
      .middle-part .body-content .body-content-button-wrapper .learn-more-btn {
        padding: 16px 32px;
        background: #2E2E3B;
        text-decoration: none;
        color: #fff;
        margin: 0 12px;
        border-radius: 12px; }

.upper_design {
  background: url("/static/images/balls.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto;
  height: 100vh;
  width: 100%; }

.login-wrapper {
  padding-top: 160px; }
  .login-wrapper .login-wrapper-inner {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .login-wrapper .login-wrapper-inner:nth-child(2) {
      padding-left: 20px; }
    .login-wrapper .login-wrapper-inner h1 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 80px; }
    .login-wrapper .login-wrapper-inner .sign-in-social-button {
      width: 100%;
      padding: 16px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #343343;
      border-radius: 12px;
      margin-bottom: 20px;
      background: #181820;
      color: white;
      cursor: pointer; }
      .login-wrapper .login-wrapper-inner .sign-in-social-button:hover {
        background: #343343; }
      .login-wrapper .login-wrapper-inner .sign-in-social-button:focus {
        outline: none; }
      .login-wrapper .login-wrapper-inner .sign-in-social-button img {
        width: 17px;
        margin-right: 15px; }
    .login-wrapper .login-wrapper-inner span {
      margin-bottom: 20px; }
    .login-wrapper .login-wrapper-inner .login-form {
      width: 100%; }
      .login-wrapper .login-wrapper-inner .login-form input {
        padding: 16px 20px;
        border: 3px solid #343343;
        border-radius: 12px;
        margin-bottom: 20px;
        background: #181820 !important;
        color: white;
        width: 100%; }
        .login-wrapper .login-wrapper-inner .login-form input:hover {
          border-color: #FB6DA9; }
        .login-wrapper .login-wrapper-inner .login-form input:focus {
          outline: none;
          box-shadow: none; }
      .login-wrapper .login-wrapper-inner .login-form .auth-button {
        padding: 16px 32px;
        background: #E872B9;
        text-decoration: none;
        color: #fff;
        border-radius: 12px;
        width: 100%;
        box-shadow: none;
        border: none;
        cursor: pointer; }
        .login-wrapper .login-wrapper-inner .login-form .auth-button:focus {
          outline: none;
          box-shadow: none; }
    .login-wrapper .login-wrapper-inner p, .login-wrapper .login-wrapper-inner .back-to-home-link {
      color: #C3C3D9;
      text-decoration: none;
      margin-top: 32px; }
    .login-wrapper .login-wrapper-inner .sign-up-link, .login-wrapper .login-wrapper-inner .forgot-pass-link {
      color: #fff;
      text-decoration: none; }

header {
  position: relative; }

.dsshboard_nav {
  background: #1D1D27;
  padding: 0 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-bottom: 56px; }
  .dsshboard_nav .nav-left-menu {
    align-items: center;
    padding: 16px 0; }
    .dsshboard_nav .nav-left-menu .navbar-brand img {
      width: 24px;
      height: 24px; }
    .dsshboard_nav .nav-left-menu .features {
      margin-left: 0;
      padding: 0;
      padding-bottom: 6px;
      border-bottom: 0; }
  .dsshboard_nav .nav-right-menu .nav-right-icon-wrapper {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #444457;
    display: flex;
    align-items: inherit;
    justify-content: center; }
    .dsshboard_nav .nav-right-menu .nav-right-icon-wrapper img {
      width: 20px; }

.nav-login-info-wrapper {
  width: 224px;
  background: #1E1E29;
  position: absolute;
  right: 25px;
  top: 75px;
  border-radius: 6px;
  padding: 8px 16px;
  z-index: 5;
  display: none; }
  .nav-login-info-wrapper .nav-login-info p {
    margin-bottom: 10px; }
  .nav-login-info-wrapper .nav-login-info .current-user-name {
    color: #FC76A1; }
  .nav-login-info-wrapper .nav-login-info a {
    display: block;
    text-decoration: none !important;
    padding-top: 15px !important;
    color: white; }

.collection {
  margin: auto;
  max-width: 768px; }
  .collection .collection-item-wrapper {
    margin-top: 40px; }
    .collection .collection-item-wrapper .collection-item {
      background: #272732;
      display: flex;
      align-items: flex-start;
      border-radius: 25.5px;
      padding: 24px;
      text-decoration: none; }
      .collection .collection-item-wrapper .collection-item .collection-item-icon {
        padding: 16px;
        border-radius: 16px;
        background: #FC76A1;
        display: flex;
        margin-right: 20px; }
        .collection .collection-item-wrapper .collection-item .collection-item-icon img {
          width: 30px; }
      .collection .collection-item-wrapper .collection-item .collection-item-content h2 {
        font-size: 20px;
        font-weight: 600;
        color: white; }
      .collection .collection-item-wrapper .collection-item .collection-item-content p {
        font-size: 16px;
        color: #94949A;
        font-weight: 600;
        margin-bottom: 0; }

.collection_list_item {
  max-width: 768px;
  margin: auto;
  padding-top: 56px;
  position: relative; }
  .collection_list_item .collecton_list_name_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: self-end; }
    .collection_list_item .collecton_list_name_wrapper .collection_list_name {
      display: flex;
      align-items: end; }
      .collection_list_item .collecton_list_name_wrapper .collection_list_name .collection_prev_icon {
        background: #272732;
        padding: 12px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .collection_list_item .collecton_list_name_wrapper .collection_list_name .collection_prev_icon img {
          width: 16px; }
      .collection_list_item .collecton_list_name_wrapper .collection_list_name h2 {
        font-size: 30px;
        margin-left: 16px; }
    .collection_list_item .collecton_list_name_wrapper .collection_list_edit {
      padding-bottom: 10px; }
      .collection_list_item .collecton_list_name_wrapper .collection_list_edit button {
        background: none;
        border: none;
        cursor: pointer; }
        .collection_list_item .collecton_list_name_wrapper .collection_list_edit button:focus {
          outline: none; }
        .collection_list_item .collecton_list_name_wrapper .collection_list_edit button img {
          width: 24px; }
  .collection_list_item .show-hide {
    display: none; }
    .collection_list_item .show-hide .edit-option-wrapper {
      position: absolute;
      right: 0;
      width: 224px;
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      border-width: 0px;
      border-style: solid;
      box-sizing: border-box; }
      .collection_list_item .show-hide .edit-option-wrapper button {
        background: #1D1D27;
        border: 0;
        color: #ffffff;
        padding: 8px 16px;
        font-size: 14px;
        margin-bottom: 1px;
        cursor: pointer;
        width: 100%; }
        .collection_list_item .show-hide .edit-option-wrapper button:focus {
          outline: none; }

.task-item-section {
  max-width: 768px;
  margin: auto;
  padding-top: 48px; }
  .task-item-section .task-item-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }

/*# sourceMappingURL=main.css.map */
