body {
  background: #181820;
  font-family: Inter, sans-serif;
  line-height: 1.5;
  width: 100%;
  overflow-x: hidden;
  color: white; }

.container {
  max-width: 1280px; }

.navbar {
  padding: 40px 0px;
  align-items: center !important; }
  .navbar a {
    text-decoration: none;
    color: white; }
  .navbar .nav-left-menu {
    display: flex; }
    .navbar .nav-left-menu .features {
      margin-left: 40px;
      padding: 16px;
      font-size: 16px;
      border-bottom: 2px solid #181820; }
      .navbar .nav-left-menu .features:hover {
        border-color: #FB6DA9; }
  .navbar .nav-right-menu .sign-in {
    padding: 16px;
    border-bottom: 2px solid #181820; }
    .navbar .nav-right-menu .sign-in:hover {
      border-color: #FB6DA9; }
  .navbar .nav-right-menu .sign-up, .navbar .nav-right-menu .logout {
    padding: 12px 24px;
    margin-left: 20px;
    border-radius: 12px;
    border: 3px solid #2E2E3B; }
    .navbar .nav-right-menu .sign-up:hover, .navbar .nav-right-menu .logout:hover {
      border-color: #FB6DA9;
      transition-duration: .2s; }

.middle-part {
  height: 100vh;
  background: url("/static/images/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10; }
  .middle-part .body-content {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .middle-part .body-content h1 {
      font-size: 48px;
      font-weight: 600; }
    .middle-part .body-content p {
      padding: 0 50px;
      margin-top: 20px;
      color: #C3C3D9; }
    .middle-part .body-content .body-content-button-wrapper {
      padding-top: 30px; }
      .middle-part .body-content .body-content-button-wrapper .get-started-btn, .middle-part .body-content .body-content-button-wrapper .dashboard-btn {
        padding: 16px 32px;
        background: #F48CC0;
        text-decoration: none;
        color: #fff;
        margin: 0 12px;
        border-radius: 12px; }
      .middle-part .body-content .body-content-button-wrapper .learn-more-btn {
        padding: 16px 32px;
        background: #2E2E3B;
        text-decoration: none;
        color: #fff;
        margin: 0 12px;
        border-radius: 12px; }

.upper_design {
  background: url("/static/images/balls.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto;
  height: 100vh;
  width: 100%; }

.login-wrapper {
  padding-top: 160px; }
  .login-wrapper .login-wrapper-inner {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .login-wrapper .login-wrapper-inner:nth-child(2) {
      padding-left: 20px; }
    .login-wrapper .login-wrapper-inner h1 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 80px; }
    .login-wrapper .login-wrapper-inner .sign-in-social-button {
      width: 100%;
      padding: 16px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #343343;
      border-radius: 12px;
      margin-bottom: 20px;
      background: #181820;
      color: white;
      cursor: pointer; }
      .login-wrapper .login-wrapper-inner .sign-in-social-button:hover {
        background: #343343; }
      .login-wrapper .login-wrapper-inner .sign-in-social-button:focus {
        outline: none; }
      .login-wrapper .login-wrapper-inner .sign-in-social-button img {
        width: 17px;
        margin-right: 15px; }
    .login-wrapper .login-wrapper-inner span {
      margin-bottom: 20px; }
    .login-wrapper .login-wrapper-inner .login-form {
      width: 100%; }
      .login-wrapper .login-wrapper-inner .login-form input {
        padding: 16px 20px;
        border: 3px solid #343343;
        border-radius: 12px;
        margin-bottom: 20px;
        background: #181820 !important;
        color: white; }
        .login-wrapper .login-wrapper-inner .login-form input:hover {
          border-color: #FB6DA9; }
        .login-wrapper .login-wrapper-inner .login-form input:focus {
          outline: none;
          box-shadow: none; }
      .login-wrapper .login-wrapper-inner .login-form .auth-button {
        padding: 16px 32px;
        background: #E872B9;
        text-decoration: none;
        color: #fff;
        border-radius: 12px;
        width: 100%;
        box-shadow: none;
        border: none;
        cursor: pointer; }
        .login-wrapper .login-wrapper-inner .login-form .auth-button:focus {
          outline: none;
          box-shadow: none; }
    .login-wrapper .login-wrapper-inner p, .login-wrapper .login-wrapper-inner .back-to-home-link {
      color: #C3C3D9;
      text-decoration: none;
      margin-top: 32px; }
    .login-wrapper .login-wrapper-inner .sign-up-link, .login-wrapper .login-wrapper-inner .forgot-pass-link {
      color: #fff;
      text-decoration: none; }

/*# sourceMappingURL=main.css.map */
