.collection {
  margin: 56px auto;
  max-width: 768px;

  .collection-item-wrapper {
    margin-top: 40px;

    .collection-item {
      background: #272732;
      display: flex;
      align-items: flex-start;
      border-radius: 25.5px;
      padding: 24px;
      text-decoration: none;

      .collection-item-icon {
        padding: 16px;
        border-radius: 16px;
        background: #FC76A1;
        display: flex;
        margin-right: 20px;

        img {
          width: 30px;
        }
      }

      .collection-item-content {
        h2 {
          font-size: 20px;
          font-weight: 600;
          color: white;
        }
        p{
          font-size: 16px;
          color: #94949A;
          font-weight: 600;
        }
      }
    }
  }
}