.collection {
  margin: auto;
  max-width: 768px;

  .collection-item-wrapper {
    margin-top: 25px;

    .collection-item {
      background: #21212B;
      display: flex;
      align-items: flex-start;
      border-radius: 25.5px;
      padding: 24px;
      text-decoration: none;

      &:hover{
        background: #272732;
      }

      .collection-item-icon {
        padding: 16px;
        border-radius: 16px;
        background: #FC76A1;
        display: flex;
        margin-right: 20px;

        img {
          width: 30px;
        }
      }

      .collection-item-content {
        h2 {
          font-size: 20px;
          font-weight: 600;
          color: white;
        }

        p {
          font-size: 16px;
          color: #94949A;
          font-weight: 600;
          margin-bottom: 0;
        }
      }
    }
  }

  .add-collection {
    width: 100%;
    padding: 12px 24px;
    border: 3px solid #272732;
    background: #181820;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 40px;
    cursor: pointer;

    &:hover {
      background: #272732;
    }

    &:focus {
      outline: none;
    }

    img {
      width: 12px;
      margin-right: 4px;
    }
  }
}