{% extends 'dashboard_base.html' %}
{% load static %}
{% block title %}dashboard{% endblock %}

{% block content %}
    <section class="collection_list_item">
        <div class="collecton_list_name_wrapper">
            <div class="collection_list_name">
                <a href="#" class="collection_prev_icon" onclick="goBack()">
                    <img src="{% static 'images/prev_icon.svg' %}"
                         class="d-inline-block align-top" alt="">
                </a>
                <h2>{{ collection.collection_name }}</h2>
            </div>
            <div class="collection_list_edit">
                <button class="collection_list_edit_button" onclick="editFunction()">
                    <img src="{% static 'images/horizontal_edit_icon.svg' %}"
                         class="d-inline-block align-top" alt="">
                </button>
            </div>
        </div>
        <div class="show-hide" id="show-hide">
            <div class="edit-option-wrapper">
                <button class="edit text-left " data-toggle="modal" data-target="#collectionEditModal">Edit Collection
                </button>
                <form action="{% url 'deleteCollection' collection.id %}" method="post">
                    {% csrf_token %}
                    {#                    <a href="{% url 'deleteCollection' collection.id %}" type="submit" class="delete text-left mb-1">Delete Collection</a>#}
                    <button type="submit" class="delete text-left mb-1">Delete Collection</button>
                </form>
            </div>
        </div>
    </section>
    <section class="task-item-section">
        {% for task in tasks %}
            <div class="task-item-wrapper">
                <div class="task-item">
                    <div class="task-item-icon"></div>
                    <div class="task-item-content">
                        <p>{{ task }}</p>
                    </div>
                </div>
                <div class="collection_list_edit">
                    <button class="collection_list_edit_button">
                        <img src="{% static 'images/edit-icon.svg' %}"
                             class="d-inline-block align-top" alt="">
                    </button>
                </div>

                <div class="show-hide-item" id="show-hide-item">
                    <div class="edit-option-wrapper">
                        <button class="edit text-left " data-toggle="modal" data-target="#itemCreateModal{{ task.id }}">Edit

                        </button>
                        <form action="{% url 'deleteTask' task.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="delete text-left mb-1">Delete</button>
                        </form>
                    </div>
                </div>
                {#                modal id=#}
                {#                    {{ task.form }}#}
                <div class="modal fade" id="itemCreateModal{{ task.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="itemCreateModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form action="{% url 'udpate_task' task.id %}" method="post">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h5 class="modal-title" id="itemCreateModalLabel">Edit task</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                        <div class="form-group">
                                            <label>New task</label>
                                            {{ itemUpdate.task }}
                                            {{ task.id }}
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn close-btn" data-dismiss="modal">Cancel</button>
                                    <button type="submit"  class="btn save-btn">Edit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        {% endfor %}
        <div class="new-task-item-wrapper">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ newitem.task }}
                </div>
                <button type="submit" class="">
                    <img src="{% static 'images/plus.svg' %}"
                         class="d-inline-block align-top" alt="">
                </button>
            </form>
        </div>
    </section>


        {% include 'modals.html' %}
{% endblock %}

{% block js %}
    <script src="{% static 'main.js' %}"></script>
{% endblock %}