{% extends 'dashboard_base.html' %}
{% load static %}
{% block title %}dashboard{% endblock %}

{% block content %}
    <section class="collection_list_item">
        <div class="collecton_list_name_wrapper">
            <div class="collection_list_name">
                <a href="#" class="collection_prev_icon" onclick="goBack()">
                    <img src="{% static 'images/prev_icon.svg' %}"
                         class="d-inline-block align-top" alt="">
                </a>
                <h2>{{ collection.collection_name }}</h2>
            </div>
            <div class="collection_list_edit">
                <button class="collection_list_edit_button" onclick="editFunction()">
                    <img src="{% static 'images/horizontal_edit_icon.svg' %}"
                         class="d-inline-block align-top" alt="">
                </button>
            </div>
        </div>
        <div class="show-hide" id="show-hide">
            <div class="edit-option-wrapper">
                <button class="edit text-left " data-toggle="modal" data-target="#collectionEditModal">Edit Collection
                </button>
                <form action="{% url 'deleteCollection' collection.id %}" method="post">
                    {% csrf_token %}
                    {#                    <a href="{% url 'deleteCollection' collection.id %}" type="submit" class="delete text-left mb-1">Delete Collection</a>#}
                    <button type="submit" class="delete text-left mb-1">Delete Collection</button>
                </form>
            </div>
        </div>
    </section>
    <section class="task-item-section">
        {% for task in tasks %}
            <div class="task-item-wrapper">
                <div class="task-item">
                    <div class="task-item-icon"></div>
                    <div class="task-item-content">
                        <p>{{ task }}</p>
                    </div>
                </div>
                <div class="collection_list_edit">
                    <button class="collection_list_edit_button" onclick="editFunction()">
                        <img src="{% static 'images/edit_icon.svg' %}"
                             class="d-inline-block align-top" alt="">
                    </button>
                </div>
            </div>
        {% endfor %}

        {#        <div class="show-hide" id="show-hide">#}
        {#            <div class="edit-option-wrapper">#}
        {#                <button class="edit text-left " data-toggle="modal" data-target="#itemEditModal">Edit Collection#}
        {#                </button>#}
        {#                <form action="{% url 'deleteCollection' collection.id %}" method="post">#}
        {#                    {% csrf_token %}#}
        {#                    <button type="submit" class="delete text-left mb-1">Delete Collection</button>#}
        {#                </form>#}
        {#            </div>#}
        {#        </div>#}
    </section>


    {% include 'modals.html' %}
{% endblock %}

{% block js %}
    <script src="{% static 'main.js' %}"></script>
{% endblock %}