{% extends 'dashboard_base.html' %}
{% load static %}
{% block title %}dashboard{% endblock %}

{% block content %}

    <section class="collection">
        {#        <h1 style="padding-top: 200px; display: flex; justify-content: center;">Welcome to Dashboard</h1>#}
        {#        {% for item in collection %}#}
        {#            <h3>{{ item }}</h3>#}
        {#            {% for ta in item.task_set.all %}#}
        {#                <p>{{ ta.task }}</p>#}
        {#            {% endfor %}#}
        {#        {% endfor %}#}


        <h1>Collections</h1>
        <div class="row">
            {% for collection in collections %}
                <div class="col-6">
                    <div class="collection-item-wrapper">
                        <a href="{% url 'single_collection' collection.id %}" class="collection-item">
                            <div class="collection-item-icon">
                                <img src="{% static 'images/right-arrow.svg' %}"
                                     class="d-inline-block align-top" alt="">
                            </div>
                            <div class="collection-item-content">
                                <h2>{{ collection.collection_name }}</h2>
                                <p>{{ collection.task_set.all.count }} tasks</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}